<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            width: 400px;
            margin: 40px auto;
        }
        th, td {
            border: 1px solid coral;
        }
    </style>
</head>
<body>
<div class="monsters">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="monster : ${monsters}">
            <td th:text="${monster.id}"></td>
            <td th:text="${monster.name}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td>VERSION</td>
            <td th:text="${version}"></td>
        </tr>
        </tfoot>
    </table>
</div>
</body>
</html>
